<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section
		  name="oracle.manageddataaccess.client"
		  type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess" />
	</configSections>

	<oracle.manageddataaccess.client>
		<version number="*">
			<settings>
				<setting name="TraceLevel" value="7" />
				<setting name="TraceFileLocation" value="C:\temp\odp-trace" />
				<setting name="TraceOption" value="0" />
			</settings>
		</version>
	</oracle.manageddataaccess.client>

	<connectionStrings>
    <!-- <add name="OracleDb" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=xxx.xxx.xxx.xxx)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=SOMESERVICENAME)));User Id=User;Password=Password;Pooling=true;Min Pool Size=1;Max Pool Size=20;Validate Connection=true;Connection Timeout=60;" /> -->
    <!-- local-home -->
	  <add name="OracleDb" connectionString="Data Source=CHANGE_ME;User Id=CHANGE_ME;Password=CHANGE_ME;Pooling=true;Min Pool Size=1;Max Pool Size=20;Validate Connection=true;Connection Timeout=60;" />
  </connectionStrings>
</configuration>